*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #C5B358;
    --body-font-color: #515151;
}
.brush-dec{
    position:absolute;
    left:0;
    z-index:-1;
    height:50px;
    width:100%;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    bottom:-10px;
    background:url(../img/bg/brush-dec.png);
}
.contact-section{
    position: relative;
    justify-content: center;
    align-items: center;
}
.contact-section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.contact{
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 50px 0;
}

.contact-form{
    grid-column: span 6;
    /*position: absolute;*/
}
.contact-form h2{
    color: rgba(0,0,0,1);
    font-size: 30px;
    font-weight: 500;
    font-family: var(--body-font);
    letter-spacing: 1px;
}
.contact-form p{
    color: rgba(0,0,0,.8);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}
.contact-form .formbox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.inputBox{
    position: relative;
    margin: 0 0 35px 0;
}
.w50{
    width: 47%;
}
.w100{
    width: 100%;
}
.formbox .inputBox input,textarea{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    border: none;
    border-bottom: 1px solid #C19D60;
    outline: none;
}
.formbox .inputBox textarea{
    min-height: 120px;
    font-weight: 600;
}

.formbox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    transition: 0.3s;
    pointer-events: none;

}

.formbox .inputBox input:focus ~ span,
.formbox .inputBox textarea:focus ~ span,
.formbox .inputBox input:valid ~ span,
.formbox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #C19D60;
}
.formbox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
    border-radius: 20px;
}
.formbox .inputBox input[type="submit"]:hover{
    color: #C19D60;
    transition: .5s;

}
.reservation-time{
    grid-column: span 6;
    margin-left: 100px;
}
.reservation-time .outer{
    height: 500px;
    width: 450px;
    background-color: rgb(54,57,61);
    position: absolute;
    justify-content: center;
    align-items: center;
}
.reservation-time .inner{
    position: relative;
    height: 450px;
    width: 400px;
    margin-left: 25px;
    margin-top: 25px;
    background-color: rgb(38,40,43);
    border: 1px dashed rgb(83,85,89);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reservation-time .outer .inner h2{
    color: #C19D60;
    font-size: 18px;
    margin-top: 50px;
}
.reservation-time .outer .inner h1{
    color: #fff;
    font-size: 30px;
    margin-top: 15px;
}
.reservation-time .outer .inner p{
    color: #C19D60;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300;
}

.reservation-time .outer .inner .days{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
}
.reservation-time .outer .inner .days h3{
    color: #C19D60;
    font-size: 15px;
    font-weight: 300;
}
.reservation-time .outer .inner .days .MtF{
    grid-column: span 6;
}
.reservation-time .outer .inner .days .StS{
    grid-column: span 6;
}
.reservation-time .outer .inner .days .StS p{
    color: #fff;
    font-size: 30px;
}
.reservation-time .outer .inner .days .MtF p{
    color: #fff;
    font-size: 30px;
}
.reservation-time .outer .inner .separator{
    margin-top: 30px;
}
.reservation-time .outer .inner .separator .line,.asterisk{
    animation: none;
    opacity: 1;
}
.reservation-time .outer .inner .phone{
    display: inline-block;
    margin-top: 25px;
    font-size: 35px;
    border: 1px solid #C19D60;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
}


/*Media Quries*/

@media (max-width: 1024px) {
    .contact{
        margin-left: -40px;
    }
    .contact-form{
        margin-left: 30px;
    }
    .reservation-time{
        margin-left: 35px;
    }
}

@media (max-width: 768px) {
    .contact{
        margin-left: -5px;
        margin-bottom: 600px;
    }
    .contact-form{
        grid-column: span 12;
    }
    .reservation-time{
        grid-column: span 12;
        margin-left: 150px;
        margin-top: 50px;
    }
}

@media (max-width: 576px) {
    .contact-form{
        grid-column: span 12;
    }
    .reservation-time{
        grid-column: span 12;
        margin-left: 0px;
        margin-top: 50px;
    }
    .reservation-time .outer{
        height: 550px;
        width: 350px;
        margin-left: -6px;
    }
    .reservation-time .inner{
        position: relative;
        height: 500px;
        width: 300px;
        margin-left: 25px;
        margin-top: 25px;
    }

    .reservation-time .outer .inner .phone{

        font-size: 30px;
        padding: 10px 15px;
    }

}